/* RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'PT Sans', sans-serif;;
}
/* COMMONS */
.flex {
    display: flex;
}

/* HEADER */

header {
    background-color: #0084fd;
}

.header-nav {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    align-self: center;
    justify-content: space-between;
}

.header-nav i {
    color: white;
    font-size: 2rem;
}

.header-nav ul {
    display: none;
}
/* MEDIA QUERY HEADER */

/* DESKTOP */

@media screen and (min-width: 992px) {
    .header-container {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }
    .header-nav {
        width: 70%;
    }
    .header-nav img {
        width: 80px;
        height: 40px;
    }

    .header-nav i {
        display: none;
    }

    .header-nav .header-list {
        display: flex;
        align-items: center;
        gap: 20px;
        color: white;
        
    }

    .header-list li:last-child {
        background-color: white;
        color: black;
        width: 90px;
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        border-radius: 50px;
    }
}

/* MAIN SECTON */

.card-container {
    width: 90%;
    margin: 2rem auto;
}

.row {
    margin: 2rem;
}

.col {
    margin: 1rem 0;
    padding: 20px;
    border-radius: 20px;
    background-color: #b5ddff;
}

/* MEDIA QUERY CARD SECTION */

/* TABLET */
@media screen and (min-width: 768px) {
    .row {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col {
        width: calc(100% / 3);
    }

    .large {
        width: 65%;
    }
    .small {
        width: 30%;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
    }
    .card-container {
        width: 70%;
        margin: 0 auto;
    }
    .row {
        margin: 0 auto;
        padding: 1 rem 1 rem;
    }
}

/* STRATEGIC SECTION */

.strategic-container {
    background-color: #9792e5;
    padding: 30px 0;
}

.strategic-content {
    width: 90%;
    margin: 0 auto;
}

.strategic-content img {
    width: 80%;
    margin: 0 auto;
}

.text {
    width: 90%;
    margin: 0 auto;
    color: white;
}

.text h2 {
    margin: 2.5rem 0;
    text-align: center;
}

.text p {
    line-height: 2;
}

.developement {
    width: 90%;
    background-color: white;
    margin: 30px auto;
    padding: 1rem;
    border-radius: 40px;
    position: relative;
}

.developement h2 {
    text-align: center;
}

.developement p {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.developement i {
    position: absolute;
    right: 50%;
}

