/* RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'PT Sans', sans-serif;;
}
/* COMMONS */
.flex {
    display: flex;
}

/* HEADER */

header {
    background-color: #0084fd;
}

.header-nav {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    align-self: center;
    justify-content: space-between;
}

.header-nav i {
    color: white;
    font-size: 2rem;
}

.header-nav ul {
    display: none;
}
/* MEDIA QUERY HEADER */

/* DESKTOP */

@media screen and (min-width: 992px) {
    .header-container {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }
    .header-nav {
        width: 70%;
    }
    .header-nav img {
        width: 80px;
        height: 40px;
    }

    .header-nav i {
        display: none;
    }

    .header-nav .header-list {
        display: flex;
        align-items: center;
        gap: 20px;
        color: white;
        
    }

    .header-list li:last-child {
        background-color: white;
        color: black;
        width: 90px;
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        border-radius: 50px;
    }
}

/* MAIN SECTON */

.card-container {
    width: 90%;
    margin: 2rem auto;
}

.row {
    margin: 2rem;
}

.col {
    margin: 1rem 0;
    padding: 20px;
    border-radius: 20px;
    background-color: #b5ddff;
}

/* MEDIA QUERY CARD SECTION */

/* TABLET */
@media screen and (min-width: 768px) {
    .row {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col {
        width: calc(100% / 3);
    }

    .large {
        width: 65%;
    }
    .small {
        width: 30%;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .container {
        width: 70%;
        margin: 0 auto;
    }
    .row {
        margin: 0 auto;
        padding: 1 rem 1 rem;
    }
}

/* STRATEGIC SECTION */

.bc {
    background-color: #9792e5;
}
.strategic-container {
    /* background-color: #9792e5; */
    padding: 30px 0;
}

.content {
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}

.strategic {
    width: 90%;
    margin: 0 auto;
}

.strategic img {
    width: 80%;
    margin: 0 auto;
}

.text {
    width: 90%;
    margin: 0 auto;
    color: white;
}

.text h2 {
    margin: 2.5rem 0;
    text-align: center;
}

.text p {
    line-height: 2;
}

.developement {
    width: 90%;
    background-color: white;
    margin: 30px auto;
    padding: 1rem;
    border-radius: 40px;
    position: relative;
}

.developement h2 {
    text-align: center;
}

.developement p {
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
}

.developement i {
    position: absolute;
    right: 50%;
}

/* MEDIAQUERY STRATEGIC SECTION */
@media screen and (min-width: 992px) {
  
}


/* TESTIMONAILS SECTION */
.testimonials-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.testimonials-title p {
    padding: 20px 0;
}

.testimonials-col {
    background-color: #9792e5;
    margin: 30px 0;
    padding: 1rem;
    border-radius: 20px;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paragraph {
    flex-direction: column;
}

.testimonials-col img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.paragraph p{
    padding: 20px 0;
    flex-direction: row;
}


/* MEDIAQUERY TESTIMONIALS SECTION */
@media screen and (min-width: 768px) {
    .testimonials-content {
        max-width: 1200px;
        width: 70%;
        margin: 0 auto;
    }

    .testimonials-col {
        flex-direction: row;
    }

    .testimonials-col img {
        margin: 0 20px;
    } 

    .paragraph {
        align-items: flex-start;
    }
}

/* BENEFITS SECTION */

.benefits {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

.benefit-tilte {
    color: white;
}
.column {
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 1.5rem;
    margin: 20px 0;
    border-radius: 30px;
}

.benefit-title {
    text-align: center;
    color: white;
    padding: 2rem 0;
    font-size: 1.4rem;
}

/* MEDIAQUERY BENEFITS */
@media screen and (min-width: 768px) {
    .benefit-title {
        font-size: 2.4rem;
    }
    
    .column {
        flex-wrap: wrap;
        width: 100%;
    }

    .column .card {
        width: calc(100% / 2 - 20px);
        margin: 5px 10px;
    }
}

@media screen and (min-width: 992px) {
    .column .card {
        width: calc(100% / 3 - 20px);
    }
}