/* RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'PT Sans', sans-serif;;
}
/* COMMONS */
.flex {
    display: flex;
}

/* HEADER */

.header-container {
    background-color: #0084fd;
}

.header-nav {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    align-self: center;
    justify-content: space-between;
}

.header-nav i {
    color: white;
    font-size: 2rem;
}

.header-nav ul {
    display: none;
}
/* MEDIA QUERY HEADER */

/* DESKTOP */

@media screen and (min-width: 992px) {
    .header-nav {
        width: 80%;
    }
    .header-nav img {
        width: 80px;
        height: 40px;
    }

    .header-nav i {
        display: none;
    }

    .header-nav .header-list {
        display: flex;
        align-items: center;
        gap: 20px;
        color: white;
        
    }

    .header-list li:last-child {
        background-color: white;
        color: black;
        width: 90px;
        height: 40px;
        line-height: 40px;
        padding: 0 5px;
        border-radius: 50px;
    }
}

/* MAIN SECTON */

.main-container {
    width: 90%;
    margin: 2rem auto;
}

.row .card {
    margin: 10px 5px;
    padding: 20px;
    border-radius: 20px;
    background-color: #b5ddff;
}

/* MEDIA QUERY CARD SECTION */

@media screen and (min-width: 768px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        width: calc(100% / 3);
    }

    .large {
        width: 65%;
    }
    .small {
        width: 30%;
    }
}